.movie-form {
  background-color: #2c2c2c; /* Dark background */
  padding: 30px; /* Increased padding */
  border-radius: 5px;
  color: #fff; /* Text color */
  font-family: "Arial", sans-serif;
  width: 60%; /* Larger width to fill more screen space */
  max-width: 700px; /* Maximum width to keep it reasonable on very large screens */
  margin: 2rem auto; /* Center the form with automatic margins */
}

.movie-form label {
  display: block; /* Block level element */
  margin-bottom: 10px; /* Increased space below the labels */
  font-size: 16px;
  color: #f5de50; /* Golden color for the text */
}

.movie-form input[type="text"],
.movie-form input[type="date"],
.movie-form textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Slightly larger padding inside the fields */
  margin-bottom: 25px; /* Increased space between fields */
  border-radius: 5px; /* Rounded borders */
  border: 1px solid #f5de50; /* Golden border */
  background-color: #333; /* Slightly lighter background for the fields */
  color: #fff; /* White text */
  font-size: 14px;
}

.movie-form textarea {
  min-height: 120px; /* Increased minimum height for textarea */
}

.movie-form button {
  background-color: #4caf50; /* Green background for the button */
  color: #fff; /* White text for the button */
  padding: 10px 20px; /* Padding inside the button */
  margin-top: 25px; /* Increased space above the button */
  border: none;
  border-radius: 5px; /* Rounded borders for the button */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Transition for the background color */
  font-size: 16px;
  display: block; /* Block level element */
  width: 50%; /* Smaller width */
  margin: 0 auto 20px; /* Center the button with auto margins and some space below */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.movie-form button:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .movie-form {
    width: 90%; /* Take up almost full width on small screens */
    padding: 15px; /* Slightly smaller padding on small screens */
  }
  .movie-form input[type="date"] {
    margin-bottom: 20px; /* Slightly reduced space for smaller screens */
  }
  .movie-form button {
    width: 70%; /* Adjust button width on smaller screens */
    margin-top: 20px;
  }
}
